<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact_form</title>
</head>
<body>
    <h1>Contact Us</h1>
    {% if form.errors %}
    <p style="color:red;">
        please correct error{{ form.errors|pluralize}}below.
    </p>
{%endif%}

<form action="" method="post" novalidate>
    <table>
        {{ form.as_table }}
    </table>
    {% csrf_token %}
    <input type="submit">
</form>
</body>
</html>