<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p> you searched for:<b>{{ query  }}</b></p>

{% if books %}
<p> found {{ books|length }} book{{books|pluralize}}. </p>
<ul>
    {% for book in books %}
    <li> {{book.title }}</li>
    {% endfor %}
</ul>
{% else %}
<p> no books matched your search criteria.</p>
{% endif %}
</body>
</html>