<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if error %}
{% for i in error%}
<p style="color:red;">{{i}} </p>
{% endfor%}
{% endif %}
<form action="" method="get">

    <input type="text" name="q">
    <input type="submit" value="search">


</form>
</body>
</html>